body{
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial" sans-serif;
  letter-spacing: 0.5px;
}

*:focus{
  outline: 2px dotted #ff7500;
  outline-offset: 3px;
}

/* -----SITE HEADER----- */
.site-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 5px solid #ff7500;
  background-color: #fff;
}

.logo-link{
  transition: opacity 0.4s ease;
}

.logo-link:hover{
  opacity: 0.8;
}

.logo-link:active{
  opacity: 0.6;
}

.header-actions{
  display: flex;
  align-items: center;
}

/* SITE NAV */
.sitenav-list{
  display: flex;
  list-style: none;
  padding: 0;
}

.sitenav-links{
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #222;
  transition: color 0.4s ease,
    opacity 0.4 ease;
}

.sitenav-links:hover{
  color: #ff7500;
}

.sitenav-links:active{
  opacity: 0.6;
}

.main-btn{
  display: inline-block;
  padding: 12px 24px;
  font-size: 13px;
  line-height: 15px;
  border-radius: 4px;
  background-color: #ff7500;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  transition: opacity 0.4 ease;
}

.main-btn:hover{
  opacity: 0.8;
}

.main-btn:active{
  opacity: 0.6;
}

/* -----HERO----- */
.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #252420;
  color: #fff;
}

.orange-line{
  width: 80px;
  height: 3px;
  border-radius: none;
  color: #ff7500;
}

.hero-content{
  width: 390px;
}

.hero-heading{
  font-size: 40px;
  line-height: 48px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.hero-img{
  width: 510px;
  height: 510px;
  border-radius: 8px;
}

/* -----FEATURES----- */
.features{
  padding-top: 210px;
  padding-bottom: 210px;
}


.feature-heading{
  font-size: 72px;
  line-height: 87px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.feature-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.feature{
  width: 340px;
}

.feature-icon-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 117, 0, 0.2);
}

.feature-title{
  font-size: 26px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}


/* -----PROMO----- */
.promo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 160px;
  border-radius: 12px;
  background-color: #252420;
  color: #fff;
}

.promo-content{
  width: 440px;
}

.promo-heading{
  font-size: 48px;
  line-height: 48px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.promo-hight-light{
  color: #ff7500;
}

.promo-img{
  width: 440px;
  height: 440px;
  object-fit: cover;
  border-radius: 12px;
}

/* -----SITE FOOTER */
.site-footer{
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #f8f8f8;
}

.site-footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-footer ul{
  list-style: none;
  padding: 0;
}

.footer-social{
  display: flex;
  align-items: center;
  padding: 0;
}

.footer-social a{
  color: #252420;
}

.footer-social a:hover{
  color: #ff7500;
}

.footer-social a:active{
  opacity: 0.6;
}

.footer-hr{
  height: 2px;
  border: 0;
  background-color: rgba(37, 36, 32, 0.5);
}

.site-footer-bottom{
  display: flex;
}

.site-footer-link-list{
  width: 224px;
  line-height: 19px;
}

.site-footer-link-list a{
  text-decoration: none;
  color: #252420;
}

.site-footer-link-list a:hover{
  color: #ff7500;
}

.site-footer-link-list a:active{
  opacity: 0.6;
}